@{
    ViewData["Title"] = "Home Page";
}


<head>

    <title>Progress Bar</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="~/css/StyleSheet.css" />
</head>
<body>
    <div id="persentCount" class="persent-count">100% test</div>
    <div class="progress-bar">
        <div class="progress" id="progress"></div>
    </div>
    <script src="~/js/JavaScript.js"></script>
    <div class="col-3 offset-3">
        <a asp-action="Index_l" asp-controller="Home" class="btn btn-info form-control text-white">
            Start
        </a>
    </div>
        
</body>
