@model WebApplication1.Models.User

<br />
<h2 class="text-info">Edit Exam</h2>
<br />

<div class="border container" style="padding:20px;">
    <form method="post">
        @if (Model.ID != 0)
        {
            <input type="hidden" asp-for="ID" />
            <input type="hidden" asp-for="FirstName" />
            <input type="hidden" asp-for="LastName" />
            <input type="hidden" asp-for="Email" />
            <input type="hidden" asp-for="Password" />
            <input type="hidden" asp-for="Role" />
        }
        <div class="text-danger" asp-validation-summary="ModelOnly"></div>
       
        <div class="form-group">
            @Html.RadioButton("State", "Activate")
            <span>Activate</span> <br />
            @Html.RadioButton("State", "Disable")
            <span>Disable</span> <br />
           

        </div>

        <div class="form-group row">
            <div class="col-3 offset-3">
                <button type="submit" class="btn btn-primary form-control">
                    Update
                </button>
            </div>
            <div class="col-3">

                <a asp-action="Show" asp-controller="Users" class="btn btn-success form-control">Back to List</a>

            </div>
        </div>
    </form>
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}