<br />
<div class="container row p-0 m-0">
    <div class="col-1">
        <h1 class="text-info"></h1>
    </div>
    <div class="col-3 offset-3">
        <a asp-action="Register" asp-controller="Users" class="btn btn-info form-control text-white">
            Registration
        </a>

    </div>



</div>
<div class="container row p-1 m-0">
    <div class="col-1">
        <h1 class="text-info"></h1>
    </div>
    <div class="col-3 offset-3">
        <a asp-action="Login" asp-controller="Users" class="btn btn-info form-control text-white">
            Log In
        </a>

    </div>



</div>
